body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.github {
  text-align: center;
}

.search-by-name input {
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  padding: 6px 12px;
  line-height: 1.5;
  min-width: 200px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.2;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}

.mg-l10 {
  margin-left: 10px;
}

.mg-b1 {
  margin-bottom: 1.5px;
}

.mg-b15 {
  margin-bottom: 15px;
}

.search-results-list {
  border: 1px solid #e4e7ea;
  min-height: 200px;
  height: 100%;
}
